html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    font-weight: normal;
    vertical-align:baseline;
    background:transparent;
}
* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
         -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.inner {
  max-width: 980px;
  padding: 0 10px;
  margin-right: auto;
  margin-left: auto;
}
html {
  position: relative;
  min-height: 100%;
  font-size: 62.5%;
}
body {
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.6;
}
h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 40px;
}
section {
  padding: 40px 0;
}
/* header */
header {
  background: #2d2d2d;
}
header ul {
  padding-inline-start: 0;
  width: 50%;
}
header ul:first-child {
  text-align: left;
}
header ul:last-child {
  text-align: right;
}
header ul a {
  display: inline-block;
  padding: 15px 15px 20px 15px;
  text-decoration: none;
  color: #fff;
}
header ul a:hover {
  opacity: 0.5;
}
header li {
  display: inline-block;
  list-style-type: none;
  list-style-position: inside;
}
/* mv */
.main-header {
  width: 100%;
  height: 420px;
  background-size: cover;
  background-image: url("../images/header.jpg");
  background-attachment: fixed;
  position: relative;
}
.main-header img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 300px;
  height: auto;
}
/* about */
.about {
  padding: 40px 0;
}
.about p {
  margin-bottom: 20px;
}
.about p:last-child {
  margin-bottom: 0;
}
/* function */
.function {
  background: #cdcdcd;
  padding-bottom: 100px;
}
.function-images {
  justify-content: space-around;
}
.function-image {
}
/* footer */
footer {
  background: #273646;
  color: #fff;
  padding: 20px 10px 10px;
}
